<div class="container">
<div>
  <h1>Renting Pigeons</h1>
  <div class="cards">
      <% bookings.each do |booking| %>
        <% @pigeon = Pigeon.find(booking.pigeon_id) %>
        <% @buyer = User.find(booking.user_id)  %>
        <% @seller = User.find(@pigeon.user_id) %>
        <% if @buyer.id == current_user.id %>
          <%= render "bookings/booking_card_buyer", booking: booking, seller: @seller, pigeon: @pigeon  %>
        <% end %>
      <% end %>
  </div>
</div>

<div>
  <h1>Renting out Pigeons</h1>
  <div class="cards">
      <% bookings.each do |booking| %>
      <% @pigeon = Pigeon.find(booking.pigeon_id) %>
      <% @buyer = User.find(booking.user_id) %>
      <% @seller = User.find(@pigeon.user_id) %>
        <% if @seller.id == current_user.id  %>
        <%= render "bookings/booking_card_seller", booking: booking, pigeon: @pigeon, buyer: @buyer %>
        <% end %>
      <% end %>
  </div>
</div>
</div>
