<h1>Bookings</h1>
<h2>What would you like to do?</h2>

<div class="card-trip">
  <%= render "bookings/booking_rent_from", bookings: @bookings %>
</div>

<div class="card-trip">
  <%= render "bookings/booking_rent_to", bookings: @bookings %>
</div>
