<div class="container">

  <h1>Booking Requests</h1>
  <br>

  <div class="container">
    <div data-controller="move-booking">

      <div>
        <h2>Your Pending Approvals</h2>
        <div class="cards">
            <% @bookings.each do |booking| %>
            <% @pigeon = Pigeon.find(booking.pigeon_id) %>
            <% @buyer = User.find(booking.user_id) %>
            <% @seller = User.find(@pigeon.user_id) %>
              <% if @seller.id == current_user.id  %>
              <%= render "bookings/booking_card_seller", booking: booking, pigeon: @pigeon, buyer: @buyer %>
              <% end %>
            <% end %>
        </div>
      </div>

      <div>
        <h2 class="mt-5" data-move-booking-target="destination">Approved Bookings</h2>

      </div>

    </div>

  </div>

</div>
