<br>
<br>
<div class="container">

  <h1>Booking Requests</h1>
  <br>

  <div class="container">
    <div>

      <div>
        <h2>Your Pending Approvals</h2>
        <div class="cards">
            <% @bookings.each do |booking| %>
            <% @pigeon = Pigeon.find(booking.pigeon_id) %>
            <% @buyer = User.find(booking.user_id) %>
            <% @seller = User.find(@pigeon.user_id) %>
              <% if @seller.id == current_user.id && booking.approved == nil %>
              <%= render "bookings/booking_card_seller", booking: booking, pigeon: @pigeon, buyer: @buyer %>
              <% end %>
            <% end %>
        </div>
      </div>

      <div>
        <h2 class="mt-5">Approved Bookings</h2>
        <div class="cards">
            <% @bookings.each do |booking| %>
            <% @pigeon = Pigeon.find(booking.pigeon_id) %>
            <% @buyer = User.find(booking.user_id) %>
            <% @seller = User.find(@pigeon.user_id) %>
              <% if @seller.id == current_user.id && booking.approved == true %>
              <%= render "bookings/booking_card_seller", booking: booking, pigeon: @pigeon, buyer: @buyer %>
              <% end %>
            <% end %>
        </div>
      </div>

      <div>
        <h2 class="mt-5">Rejected Booking</h2>
        <div class="cards">
            <% @bookings.each do |booking| %>
            <% @pigeon = Pigeon.find(booking.pigeon_id) %>
            <% @buyer = User.find(booking.user_id) %>
            <% @seller = User.find(@pigeon.user_id) %>
              <% if @seller.id == current_user.id && booking.approved == false %>
              <%= render "bookings/booking_card_seller", booking: booking, pigeon: @pigeon, buyer: @buyer %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
      <br>
    <br>
    <%= link_to "Back to my bookings", bookings_path, class:'btn btn-danger' %>
</div>
