<br>
<br>
<div class="container">
  <h1>All the pigeons I've Booked</h1>
    <% if @bookings.empty? %>
    <% end %>
    <div class="cards">
        <% @bookings.each do |booking| %>
          <% @pigeon = Pigeon.find(booking.pigeon_id) %>
          <% @buyer = User.find(booking.user_id)  %>
          <% @seller = User.find(@pigeon.user_id) %>
          <% if @buyer.id == current_user.id %>
            <%= render "bookings/booking_card_buyer", booking: booking, pigeon: @pigeon, seller: @seller  %>
          <% end %>
        <% end %>
    </div>
    <br>
    <br>
    <%= link_to "Back to my bookings", bookings_path, class:'btn btn-danger' %>
</div>
