<div class="container">
  <h2 class="d-flex justify-content-center"> Explore ours pigeons</h2>
  <div class="cards">
    <% pigeons.each do |pigeon| %>
      <%= render "pigeons/pigeon_card", pigeon: pigeon %>
    <% end %>
  </div>
</div>
