<div class="container">
  <div class="cards d-flex justify-content-center">
      <% @pigeons.each do |pigeon| %>
        <%= render "pigeons/pigeon_card", pigeon: pigeon %>
      <% end %>
  </div>
</div>
