<h1>All the pigeons available (index)</h1>

<%= render 'pigeons/pigeons_list', pigeons: @pigeons %>


<ul>
  <% @pigeons.each do |pigeon| %>
    <li><h4><%= link_to pigeon.name, pigeon_path(pigeon) %></h4>
    <p><%= pigeon.color %>
    <%= pigeon.price %></p>
  </li>
  <% end %>
</ul>
