<div class="container">

  <h1>My Pigeons</h1>

  <ul>
    <% @my_pigeons.each do |pigeon| %>
      <li><h4><%= pigeon.name %></h4>
        <p>Color: <%= pigeon.color %></p>
        <p>Price: <%= pigeon.price %></p>
      </li>
    <% end %>
  </ul>

</div>
