<div class="container">

  <h1>My Pigeons</h1>

  <ul>
    <% @my_pigeons.each do |pigeon| %>
      <li>
        <h4><%= link_to pigeon.name, pigeon_path(pigeon) %></h4>
        <p>Color: <%= pigeon.color %></p>
        <p>Price: <%= pigeon.price %></p>
      </li>
      <br>
    <% end %>
  </ul>

</div>
